// Fuentes
$f_ultra: 'Frutiger-Ultra';
$f_black: 'Frutiger-Black';
$f_bold: 'Frutiger-Bold';
$f_light: 'Frutiger-Light';
$f_roman: 'Frutiger-Roman';
$f_italic: 'Frutiger-Italic';
$f_italic_b: 'Frutiger-Italic-Bold';


@font-face {
    font-family: 'Frutiger-Ultra';
    src: url('assets/fonts/Frutiger-UltraBlack.eot');
    src: url('assets/fonts/Frutiger-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Frutiger-UltraBlack.woff2') format('woff2'),
        url('assets/fonts/Frutiger-UltraBlack.woff') format('woff'),
        url('assets/fonts/Frutiger-UltraBlack.ttf') format('truetype'),
        url('assets/Frutiger-UltraBlack.svg#Frutiger-UltraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger-Light';
    src: url('assets/fonts/Frutiger-Light.eot');
    src: url('assets/fonts/Frutiger-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Frutiger-Light.woff2') format('woff2'),
        url('assets/fonts/Frutiger-Light.woff') format('woff'),
        url('assets/fonts/Frutiger-Light.ttf') format('truetype'),
        url('assets/fonts/Frutiger-Light.svg#Frutiger-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger-Roman';
    src: url('assets/fonts/FrutigerBQ-Roman.eot');
    src: url('assets/fonts/FrutigerBQ-Roman.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FrutigerBQ-Roman.woff2') format('woff2'),
        url('assets/fonts/FrutigerBQ-Roman.woff') format('woff'),
        url('assets/fonts/FrutigerBQ-Roman.ttf') format('truetype'),
        url('assets/fonts/FrutigerBQ-Roman.svg#FrutigerBQ-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger-Italic';
    src: url('assets/fonts/Frutiger-BlackItalic.eot');
    src: url('assets/fonts/Frutiger-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Frutiger-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/Frutiger-BlackItalic.woff') format('woff'),
        url('assets/fonts/Frutiger-BlackItalic.ttf') format('truetype'),
        url('assets/fonts/Frutiger-BlackItalic.svg#Frutiger-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger-Italic-Bold';
    src: url('assets/fonts/Frutiger-BoldItalic.eot');
    src: url('assets/fonts/Frutiger-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Frutiger-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Frutiger-BoldItalic.woff') format('woff'),
        url('assets/fonts/Frutiger-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/Frutiger-BoldItalic.svg#Frutiger-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Frutiger-Bold';
    src: url('assets/fonts/Frutiger-Bold.woff2') format('woff2'),
        url('assets/fonts/Frutiger-Bold.woff') format('woff'),
        url('assets/fonts/Frutiger-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger-Black';
    src: url('assets/fonts/FrutigerBQ-Black.woff2') format('woff2'),
        url('assets/fonts/FrutigerBQ-Black.woff') format('woff'),
        url('assets/fonts/FrutigerBQ-Black.ttf') format('truetype'),
        url('assets/fonts/FrutigerBQ-Black.svg#FrutigerBQ-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}


// Mixins
@mixin texto-blanco {
    color: $blanco;
    font-size: 24px;
    text-align: center;
    font-family: $f_ultra;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin placeholder{
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
      }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $blanco;
    }
      
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $blanco;
    }
}
