#eventos{
    margin: 40px 0 50px;
    .c-caja-btn-c{
        border-left: 5px solid $blanco;
        border-right: 5px solid $blanco;
        margin-bottom: 10px;
        &:first-child{
            border-left: 0;
        }
        &:nth-child(4n){
            border-left: 0;
        }
    }
}

#select{
    button{
        border: 1px solid #393939;
        background-color: transparent;
        font-family: "Frutiger-Roman";
        letter-spacing: 2px;
        color: #393939;

        &::after{
            margin-left: 80px;
        }
    }
}

#evento{
    margin-top: 50px;
    margin-bottom: 40px;
    h1{
        font-family: $f_ultra;
        text-transform: uppercase;
        font-size: 80px;
        text-align: center;
        color: $gris_titulo;
        @include media-breakpoint-down(md){
            font-size: 40px;
        }
    }
    #contenido{
        color: $gris_contenido;
        font-family: $f_roman;
        strong{
            margin-bottom: 1rem;
            display: inline-block;
            font-family: $f_bold;
        }
    }
    #c-social-media{
        margin-top: 50px;
    }
    
}
#galeria{
    overflow: hidden;
    #t-galeria{
        background: $verde;
        padding-top: 3px;
        h3{
            color: $blanco;
            font-family: $f_bold;
            text-transform: uppercase;
        }
    }
}