#registro-login{
    h2{
        font-family: $f_ultra;
        font-size: 75px;
        line-height: 77px;
        margin-bottom: 0;
        position: relative;
        top: 20px;
    }
    input{
        background: none;
        border-radius: 0;
        margin-bottom: 20px;
        color: $blanco;
        height: 35px;
        @include placeholder{
            color: $blanco;
        } 
    }
    input[type="radio"]{
        height: inherit;
    }
    label{
        font-family: $f_bold;
        @include media-breakpoint-down(lg){
            color: $verde;
        }
    }
    .custom-select{
        background: url('../assets/images/bg_dropdown_dates.png') no-repeat right center;
        border-radius: 0;
        border:0;
        color: $blanco;
        font-size: 17px;
        height: 35px;
        option{
            color: $blanco;
        }

        @include media-breakpoint-down(md){
            border:1px solid $verde!important;
            &::-webkit-input-placeholder {color:$verde;}
            &:-moz-placeholder           {color:$verde;}
            &::-moz-placeholder          {color:$verde;}
            &:-ms-input-placeholder      {color:$verde;}
            color: $verde;
        } 
    }
    #tipo-doc{
        border: 1px solid $blanco;
        background-position-x: 180px
    }
    #section1{
        background: $verde;
        color: $blanco;
        padding-top: 30vh;
        input{
            border:1px solid $blanco;
            &::-webkit-input-placeholder {color:$blanco;}
            &:-moz-placeholder           {color:$blanco;}
            &::-moz-placeholder          {color:$blanco;}
            &:-ms-input-placeholder      {color:$blanco;}
            @include media-breakpoint-down(md){
                border:1px solid $verde;
                &::-webkit-input-placeholder {color:$verde;}
                &:-moz-placeholder           {color:$verde;}
                &::-moz-placeholder          {color:$verde;}
                &:-ms-input-placeholder      {color:$verde;}
            } 
        }
        @include media-breakpoint-down(md){
            background: none;
            padding-top: 0;
        }
        
    }
    #section2{
        color: $verde;
        padding: 15px 0 20vh;
        input{
            border:1px solid $verde;
            color: $verde;
            @include placeholder{
                color: $verde;
            }
            &::-webkit-input-placeholder {color:$verde}
            &:-moz-placeholder           {color:$verde}
            &::-moz-placeholder          {color:$verde}
            &:-ms-input-placeholder      {color:$verde}
        }
        .custom-select{
            border:1px solid $verde;
            color: $verde;
            font-size: 16px;
            margin-bottom: 20px;
            background: url('../assets/images/bg_dropdown_dates_v.png') no-repeat right center;
            background-position-x: 195px;
        }
    }

    .btn{
        background:$verde;
        color: $blanco;
        border-radius: 0;
        margin: 0 10px;
        font-family: $f_bold;
    }
    #section1-m{
        background: $verde;
        padding: 20vh 30px 0;
        div{
           color: $blanco;
           font-family: $f_ultra;
            font-size: 50px;
            line-height: 52px;
        }
    }
    #section2-m{
        padding: 10px 30px 0;
        div{
            color: $verde;
            font-family: $f_ultra;
            font-size: 50px;
            line-height: 52px;
        }
    }
}