header{
    z-index: 10;
    margin-bottom: -75px;
    #main-menu{
        font-family: $f_ultra;
        text-transform: uppercase;
        .navbar-nav{
            height: 48px;
        }
        a{
            color: $blanco;
            font-size: 20px;
            letter-spacing: 1px;
            &.nav-link{
                padding-left: 1rem!important;
                padding-right: 1rem!important;
                &.active,
                &:hover{
                    background: $verde;
                    -webkit-box-shadow: inset -1px 3px 17px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: inset -1px 3px 17px 0px rgba(0,0,0,0.75);
                    box-shadow: inset -1px 3px 17px 0px rgba(0,0,0,0.75);
                }
            }
        }

    }

    #user-menu{
        font-family: $f_light;
        background: $blanco;
        ul{
            padding-top: 10px;
            li{
                a{
                    color: $gris;
                    font-size: 18px;
                    position: relative;
                    
                }
                &:first-child{
                   a{
                    &::after{
                        content: "";
                        width: 2px;
                        height: 60%;
                        background: #0cac4c;
                        border-left: red;
                        position: absolute;
                        right: 1px;
                        top: 4px;
                    }
                   }
                }
            }
        }
    }
}

.slider{
    height: 70vh;
    z-index: 5;
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    object-fit: cover;
                }
            }
        }

        .carousel-indicators{
            li{
                height: 7px;
            }
            .active{
                background-color: $verde;
            }
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 30%;
            right: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: left;
            h5{
                font-family: $f_ultra;
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 90px;
                line-height: 20px;
            }
            p{
                font-family: $f_roman;
                font-size: 20px;
            }
        }
    }
    .myButton {
        box-shadow: 2px 2px 0px 0px $blanco;
        background-color:transparent;
        border:1px solid $blanco;
        display:inline-block;
        cursor:pointer;
        color:$blanco;
        font-size:17px;
        line-height: 19px;
        padding:12px 44px;
        text-decoration:none;
        text-shadow:0px 1px 0px $blanco;
        font-family: $f_ultra;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.breadcrumb{
    background-color: transparent;
    font-family: $f_italic_b;
    margin-top: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    a{
        color: $gris_bread;
    }
    li{
        &.active{
            color: $gris_bread;
            text-decoration: underline;
        }
    }
    .breadcrumb-item + .breadcrumb-item{
        &::before{
            color: $verde;
        }
    }
}

#hashtag{
    font-family: $f_italic;
    color: $verde;
    font-size: 25px;
    padding: 44px 0 33px;
}

.c-categorias{
    .text {
        color: white;
        font-size: 24px;
        position: absolute;
        bottom: 2%;
        left: 3%;
        text-align: center;
        font-family: $f_ultra;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000;
    }
    &:hover{
        .overlay{
            background: rgba(0,0,0,.6);
            opacity: 1;
        }
        .plus{
            opacity: 0;
        }
    }

    .plus{
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 15px;
        color: #fff;
        font-size: 25px;
    }
    
}



  /* Rating */
  .star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    input[type=radio] {
        display: none
    }
    label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: $verde;
}

/* Dropdown After */

.dropdown-toggle{
    &::after{
        background: url('../assets/images/after-dropdown.png') no-repeat;
        width: 17px;
        height: 9px;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        position: relative;
        top: 3px;
        margin-left: 10px;
    }
}

/* Social Icons */
/* Color Variables */
$color-codepen: #000;
$color-github: #4284c0;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  color: #fff;

  .tooltip {
    background: $color;
    color: currentColor;

    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.15s ease;
    color: $blanco!important;
  &:hover {
    color: #fff;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--linkedin { @include social-icon($color-linkedin); }
  &--twitter { @include social-icon($color-twitter); }
  &--codepen { @include social-icon($color-codepen); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }
  &--dribbble { @include social-icon($color-dribbble); }
  &--github { @include social-icon($color-github); }
  
  i {
    position: relative;
    top: 1px;
  }
  &:first-child{
    margin-left: 0;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  
  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}