header{
    z-index: 10;
    margin-bottom: -75px;
    #main-menu{
        font-family: $f_ultra;
        text-transform: uppercase;
        .navbar-nav{
            height: 48px;
            @include media-breakpoint-down(md){
                height: 100vh;
                background: $gris;
                padding-top: 10vh!important;
            }
        }
        a{
            color: $blanco;
            font-size: 20px;
            letter-spacing: 1px;
            &.nav-link{
                padding-left: 1rem!important;
                padding-right: 1rem!important;
                &.active,
                &:hover{
                    background: $verde;
                    box-shadow: inset -1px 3px 17px 0px rgba(0,0,0,0.75);
                    color: $blanco!important;
                    @include media-breakpoint-down(md){
                        background: none;
                        box-shadow: none;
                        border-bottom: 1px solid $negro;
                    }
                }
                @include media-breakpoint-down(md){
                    border-bottom: 1px solid $negro;
                    margin: 0 27px 10px;
                    font-family: $f_black;
                    font-size: 17px;
                    &::after{
                        content:"";
                        background: url('assets/images/after-dropdown-b.png') no-repeat;
                        width: 9px;
                        height: 17px;
                        float: right;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
        /* remove navbar button stying */
        .navbar-toggler {
            background: none;
            border: none;
            z-index: 2;
            /* remove the blue outline when active or focused */
            &:active, &:focus {
                outline: 0;
            }
            /* basic styles for each icon bar */
            .icon-bar {
            display: block;
            width: 32px;
            height: 4px;
            border-radius: 1px;
            margin: 4px 0 4px 0;
            transition: all 0.2s;
            background:$blanco;
                /* .navbar open top .icon-bar rotated down 45° */
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
                /* .navbar open middle .icon-bar invisible */
                &:nth-of-type(2) {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
                /* .navbar open bottom .icon-bar rotated up 45° */
                &:nth-of-type(3) {
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                }
            }
            /* styles for when .navbar is closed */
            &.collapsed {
                .icon-bar {
                    /* .navbar closed top .icon-bar no rotation - straight */
                    &:nth-of-type(1) {
                        transform: rotate(0);
                    }
                    /* .navbar open middle .icon-bar visible */
                    &:nth-of-type(2) {
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    /* .navbar open bottom .icon-bar no rotation - straight */
                    &:nth-of-type(3) {
                        transform: rotate(0);
                    }
                }
            } 
        }
        .navbar-brand{
            img{
                @include media-breakpoint-down(md){
                    position: relative;
                    left: -50%;
                }
            }
        }

        #btn-search{
            margin-left: 45px;
            i{
                color: $blanco;
                font-size: 22px;
                position: relative;
                top: 5px;
                left: 10px;
            }
        }

    }

    #user-menu{
        font-family: $f_light;
        background: $blanco;
        ul{
            padding-top: 10px;
            li{
                a{
                    color: $gris;
                    font-size: 18px;
                    position: relative;
                    
                }
                &:first-child{
                   a{
                    &::after{
                        content: "";
                        width: 2px;
                        height: 60%;
                        background: #0cac4c;
                        border-left: red;
                        position: absolute;
                        right: 1px;
                        top: 4px;
                    }
                   }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar-collapse {
        padding-right: 0;
        position: absolute;
        top: 0;
        left: 100%;
        padding-left: 15px;
        padding-bottom: 15px;
        width: 60vw;
        transition: all 0.4s ease;
        display: block;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        left: 50%;
        transition: all 0.2s ease;
    }
    .navbar-collapse.show {
        left: 40vw;
    }
}

.slider{
    height: 70vh;
    z-index: 5;
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    object-fit: cover;
                }
            }
        }

        .carousel-indicators{
            li{
                height: 7px;
            }
            .active{
                background-color: $verde;
            }
        }
        
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 30%;
            right: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: right;
            text-shadow: 1px 1px 1px $negro;
            h5,h6{
                font-family: $f_ultra;
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 90px;
                line-height: 90px;
                @include media-breakpoint-down(md){
                    font-size: 35px;
                }
            }
            p{
                font-family: $f_roman;
                font-size: 20px;
                @include media-breakpoint-down(md){
                    font-size: 16px;
                }
            }
        }
        .caption-interna{
            bottom: 10vh!important;
            @include media-breakpoint-up(xl){
                bottom: 20vh;
            }
        }
    }
    .myButton {
        box-shadow: 2px 2px 0px 0px $blanco;
        background-color:transparent;
        border:1px solid $blanco;
        display:inline-block;
        cursor:pointer;
        color:$blanco;
        font-size:17px;
        line-height: 19px;
        padding:12px 44px;
        text-decoration:none;
        text-shadow:0px 1px 0px $blanco;
        font-family: $f_bold;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.breadcrumb{
    background-color: transparent;
    font-family: $f_italic_b;
    margin-top: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    a{
        color: $gris_bread;
    }
    li{
        &.active{
            color: $gris_bread;
            text-decoration: underline;
        }
    }
    .breadcrumb-item + .breadcrumb-item{
        &::before{
            color: $verde;
        }
    }
}

#hashtag{
    font-family: $f_italic;
    color: $verde;
    font-size: 25px;
    padding: 44px 0 33px;
    @include media-breakpoint-down(md){
        font-size: 18px;
    }
}

/* Caja Botón Final */
.c-caja-btn-f{
    .text {
        color: white;
        font-size: 24px;
        position: absolute;
        bottom: 2%;
        left: 3%;
        text-align: center;
        font-family: $f_ultra;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000;
        @include media-breakpoint-down(md){
            background: rgba(0,0,0,.6);            
            opacity: 1;
        }
    }
    &:hover{
        .overlay{
            background: rgba(0,0,0,.6);
            opacity: 1;
        }
        .plus{
            opacity: 0;
            
        }
    }

    .plus{
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 15px;
        color: #fff;
        font-size: 25px;
        @include media-breakpoint-down(md){
           display: none;
        }
    }
    @include media-breakpoint-down(md){
        margin-bottom: 40px;
    }
    
}
/* Caja Botones Centro */
.c-caja-btn-c{
    cursor: pointer;
    .text {
        @include texto-blanco;
        a{
            color: $blanco;
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid $blanco;
            line-height: 48px;
            height: 42px;
            &:after{
                content: "";
                width: 9px;
                height: 17px;
                background: url(assets/images/after-dropdown-b.png) no-repeat;
                display: inline-block;
                position: relative;
                top: 0px;
                margin-left: 10px;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000;
        cursor: pointer;
        @include media-breakpoint-down(md){
            background: rgba(0,0,0,.6);            
            opacity: 1;
        }
    }
    &:hover{
        .overlay{
            background: rgba(0,0,0,.6);
            opacity: 1;
        }
    }
    @include media-breakpoint-down(md){
        margin-bottom: 40px!important;
        &:last-child{
            margin-bottom: 0;
        }
    }
}



  /* Rating */
  .star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    input[type=radio] {
        display: none
    }
    label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: $verde;
}

@mixin btn{
    a{
        color: $blanco;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $blanco;
        border-radius: 0;
        font-family: $f_bold;
        font-size: 18px;
        &:after{
            content: "";
            width: 9px;
            height: 17px;
            background: url(assets/images/after-dropdown-b.png) no-repeat;
            display: inline-block;
            position: relative;
            top: 2px;
            margin-left: 10px;
        }
    }
}

.green-1{
    background: #52f89a;
    padding: 50px 0;
    @include btn;
    .c-img{
        height: 108px;
        margin-bottom: 20px;
    }
}

.green-2{
    background: #33ee76;
    padding: 50px 0;
    @include btn;
    .c-img{
        height: 108px;
        margin-bottom: 20px;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}


.dropdown-toggle{
    &::after{
        background: url('assets/images/after-dropdown.png') no-repeat;
        width: 17px;
        height: 9px;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        position: relative;
        top: 3px;
        margin-left: 10px;
    }
}

/* Social Icons */
/* Color Variables */
$color-codepen: #000;
$color-github: #4284c0;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  color: #fff;

  .tooltip {
    background: $color;
    color: currentColor;

    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.15s ease;
    color: $blanco!important;
  &:hover {
    color: #fff;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--linkedin { @include social-icon($color-linkedin); }
  &--twitter { @include social-icon($color-twitter); }
  &--codepen { @include social-icon($color-codepen); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }
  &--dribbble { @include social-icon($color-dribbble); }
  &--github { @include social-icon($color-github); }
  
  i {
    position: relative;
    top: 1px;
  }
  &:first-child{
    margin-left: 0;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  
  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}

// Arrows

.slick-next{
    height: 17px!important;
    width: 33px!important;
    right: 10px!important;
    &:before{
        content: ""!important;
        background: url('assets/images/slick-next.png');
        width: 17px;
        height: 33px;
        display: block;
        opacity: 1!important;
    }
}

.slick-prev{
    height: 33px!important;
    width: 17px!important;
    left: 10px!important;
    &:before {
        content: ""!important;
        background: url('assets/images/slick-prev.png');
        width: 17px;
        height: 33px;
        display: block;
        opacity: 1!important;
    }
}

// Search

#searchModal{
    .modal-content{
        background-color: transparent;
        border: 0;
    }
    .modal-header{
        border-bottom: 0;
    }
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid $blanco;
    float: left;
    width: 80%;
    background-color: transparent;
    @include placeholder;
}
  
  /* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid $blanco;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    background-color: transparent;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

// 404

#error-404{
    height: 90vh;
    background: url('assets/images/bg_404.png') no-repeat, $verde;
    background-position: center 40vh;
    background-size: contain;
    h1{
        color: $blanco;
        font-size: 41px;
        font-family: $f_black;
        margin-top: 15vh;
        letter-spacing: 3px;
        line-height: 1;
        text-shadow: -1px -1px 0 $blanco, 1px -1px 0 $blanco, -1px 1px 0 $blanco, 1px 1px 0 $blanco, 1px 0px 0px $verde, 0px 1px 0px $verde, 2px 1px 0px $verde, 1px 2px 0px $verde, 3px 2px 0px $verde, 2px 3px 0px $verde, 4px 3px 0px $verde, 3px 4px 0px $verde, 5px 4px 0px $verde, 3px 5px 0px $blanco, 6px 5px 0px $blanco, -1px 2px 0 black, 0 3px 0 $blanco, 1px 4px 0 $blanco, 2px 5px 0px $blanco, 2px -1px 0 $blanco, 3px 0 0 $blanco, 4px 1px 0 $blanco, 5px 2px 0px $blanco, 6px 3px 0 $blanco, 7px 4px 0;
        span{
            font-size: 150px;
            text-shadow: none;
        }
    }
}